[submodule "BotMasterNode"]
	path = BotMasterNode
	url = https://github.com/DISTA-IoT/smartville-botmaster
[submodule "poxController"]
	path = poxController
	url = https://github.com/DISTA-IoT/smartville-controller
[submodule "AttackerNode"]
	path = AttackerNode
	url = https://github.com/DISTA-IoT/smartville_attacker
[submodule "VictimNode"]
	path = VictimNode
	url = https://github.com/DISTA-IoT/smartville_victim
