[submodule "poxController"]
	path = poxController
	url = https://github.com/DISTA-IoT/smartville-controller
	branch = TIGER_PAPER_DO_NOT_DELETE
[submodule "AttackerNode"]
	path = AttackerNode
	url = https://github.com/DISTA-IoT/smartville_attacker
	branch = TIGER_PAPER_DO_NOT_DELETE
[submodule "VictimNode"]
	path = VictimNode
	url = https://github.com/DISTA-IoT/smartville_victim
	branch = TIGER_PAPER_DO_NOT_DELETE
[submodule "smartville-monitor"]
	path = smartville-monitor
	url = https://github.com/DISTA-IoT/smartville-monitor
	branch = TIGER_PAPER_DO_NOT_DELETE
[submodule "mockserver"]
	path = mockserver
	url = https://github.com/DISTA-IoT/smartville-mockserver
	branch=TIGER_PAPER_DO_NOT_DELETE